#about {
    background-color: black;
    color: white;
    font-size: 25px;
    padding-left: 15px;
}

h2 {
    color: red;
}

#contact {
    background-color: black;
    color: white;
    font-size: 25px;
    padding-left: 15px;
}

#header {
    background-color: black;
    color: white;
    font-size: 25px;
    border-bottom: 5px solid red;
}

#spancolor {
    color: red;
}

#header li {
    display: inline;
    padding: 0px 20px 0px 20px;
    text-align: left;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: auto;
}

#main {
    text-align: center;
    font-size: 40px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(./banner.jpg);
    background-size: cover;
    color: white;
    height: 90vh;
    font-family: 'Pacifico', cursive;

}

#main h1 {
    margin: 200px 0px 10px 0px;
}
li:hover{
    background-color: green;
    
}

a:link {                               /* unvisited link */
    text-decoration: none;
    color: white;
}
  
a:visited {                            /* visited link */
    text-decoration: none;
    color: white;
}
  
a:hover {                              /* mouse over link */
    text-decoration: none;
    color: blue;
}
  
a:active {                              /* selected link */
    text-decoration: none;
    color: blue;
}
